.square-container {
  position: relative;
  width: 30px;
  height: 30px;
  top: -60px;
  left: -65px;
}

.line {
  position: absolute;
  background-color: black;
}

.line.bottom {
  padding-bottom: 2px;
  width: 40px;
  height: 2px;
  bottom: 0;
  left: 0;
  animation: drawBottom 1s linear forwards;
}

.line.left {
  padding-left: 1.5px;
  width: 2px;
  height: 0;
  top: 0;
  left: 0;
  animation: drawLeft 1s linear forwards 1s;
}

.line.top {
  padding-top: 1px;
  width: 0;
  height: 2px;
  top: 0;
  left: 0;
  animation: drawTop 1s linear forwards 2s;
}

.line.right {
  padding-right: 0.5px;
  width: 2px;
  height: 10px;
  top: 0;
  right: 0;
  animation: drawRight 1s linear forwards 3s;
}

.falling-image {
  position: relative;
  width: 90px;
  height: 120px;
  opacity: 0;
  animation: fall 2s ease-in forwards;
}

.fall-image {
  position: absolute;
  opacity: 0;
  animation-timing-function: ease-out;
}

.image1 {
  top: -40px;
  left: -53px;
  animation-delay: 4.5s;
}

.img-right {
  top: -50px;
  right: -90px;
  animation: fallRight 2s 4s forwards;
}

.img-bottom-right {
  top: 40px;
  right: -90px;
  animation: slideFromRight 2s 5s forwards;
}

.img-bottom {
  bottom: -80px;
  left: 50%;
  transform: translateX(-50%);
  animation: riseFromBottom 2s 5s forwards;
}

@keyframes fall {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fallRight {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideFromRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes riseFromBottom {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes drawBottom {
  to {
    width: 100%;
  }
}

@keyframes drawLeft {
  to {
    height: 100%;
  }
}

@keyframes drawTop {
  to {
    width: 100%;
  }
}

@keyframes drawRight {
  to {
    height: 100%;
  }
}
